<!-- TITLE, COPY TO CLIPBOARD AND SHARE BUTTONS -->
<h2 class="text-center" style="font-weight: 900">{{title}}</h2>
<hr>

<!-- POSSIBLE ERRORS -->
{{#if hasErrors}}
    <div class="alert alert-danger">
        <!-- POLL -->
        {{#each messages}}
            <p class="text-center">
                {{this}}
            </p>
        {{/each}}
    </div>
{{/if}}


<!-- ANSWERS AND VOTE -->
<div class="row">
    <div class="col-sm-4">
      <h2 style="font-weight: 700">Réponses</h2>
        <form action="/poll/vote/{{id}}" class="poll-list" method="post">
            <!-- We get the ID of the poll -->
            {{#each answers}}
                <div class="poll-answer" style="margin-top: 20px">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <input type="radio" name="answer" value="{{this.pos}}">
                        </span>
                        <p class="poll-answer form-control">
                            {{this.answer}}
                        </p>
                    </div>
                </div>
            {{/each}}
            <p class="help-block"><i class="fa fa-exclamation-circle"></i> Vous ne pouvez voter qu'une seule fois ! Soyez sûr de votre choix.</p>
            <button type="submit" class="btn btn-success poll-vote" style="margin-top:5px">Voter</button>
        </form>
    </div>
    <div class="col-sm-8">
        {{#if noVotes}}
            <h1 class="text-center">Toujours pas de votes!</h1>
        {{else}}
        <div id="chartContainer" style="height: 500px"> 
            <canvas id="myChart"></canvas>
          </div>
            <p class="text-center">Nombre total de votes : {{numberOfVotes}}</p>
        {{/if}}
    </div>
</div>

<!-- AUTHOR OF THE POLL -->
<p class="text-center">Proposé par {{ author }}</p>

<input type="hidden" id="inputID" value= {{id}}>

<!-- SCRIPTS OF THE PAGE -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/poll.js" charset="utf-8"></script>
